<div class="d-flex flex-wrap">
  @for (product of productFacade.data(); track $index) {

    @let item = product | toCardItem;
    <ng-template *ngTemplateOutlet="card; context: {$implicit: product, item: item}">

    </ng-template>

  }
</div>

<ng-template #card let-product let-item="item">
  <qui-card
    class="m-1"
    [title]="item.title"
    [description]="item.description"
    [imageUrl]="item.url">
    <qui-button level="danger"
                (click)="productFacade.compute({ type: 'REMOVE_PRODUCT', payload: product})">
      Delete
    </qui-button>
    <qui-button level="success">Edit</qui-button>
  </qui-card>
</ng-template>
