<div class="d-flex flex-wrap">

    @let products = productFacade.data;
    @for( product of products(); track $index ) {

        @let item = product | toCardItem;

        <qui-card
            class="m-1"
            [title]="item.title"
            [description]="item.description"
            [imageUrl]="item.url">

            <qui-button level="danger" 
                        (click)="productFacade.compute({ type: 'REMOVE_PRODUCT', payload: product })">
                        Delete
            </qui-button>

            <qui-button level="success">Edit</qui-button>

        </qui-card>

    }
  </div>

